@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme-color: rgba(2, 77, 53, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* main color: 2, 77, 53 */

a {
  text-decoration: none;
  color: black;
}

/* H1 used for Treact by logo. */
h1 {
  font-size: 24px;
  font-weight: 900;
}

/* H2 used for section titles */
h2 {
  font-size: 48px;
  font-weight: 900;
}

h3 {
  color: var(--theme-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

button {
  font-size: 14px;
  padding: 10px 32px;
  border-radius: 500px;
  border: none;
  background-color: var(--theme-color);
  color: white;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  font-weight: bold;
}

.theme__color {
  color: var(--theme-color);
}

.white__text {
  color: white;
  font-weight: bold;
}

/* color: var(--theme-color); */
/* LANDING */

#landing {
  padding: 0 32px;
}

.nav__row {
  height: 60px;
}
.nav__logo--wrapper {
  display: flex;
  align-items: center;
}
.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__menu {
  /* width: 50%; */
}

.nav__menu--list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__menu--link {
  padding-top: 4px;
  margin: 0 24px;
}
.nav__menu--link--primary {
  margin: 0 24px 0 48px;
}

.logo__word {
  margin-left: 16px;
}

.landing__row {
  padding: 100px 0;
}

.landing__container {
  padding-top: 32px;
}

.landing__header--wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landing__header--para {
  font-size: 18px;
  line-height: 1.5;
  margin: 32px 0;

}

/* wrapper */
.landing__email--wrapper {
  width: 100%;
  position: relative;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.landing__email--input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 192px 20px 32px;
  border-radius: 500px;
  border-color: rgb(229, 231, 235);
}


.landing__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
}

.landing__customers {
  width: 100%;
}

.landing__img--wrapper {
  width: 60%;

}

.landing__img {
  width: 100%;
  max-width: 768px;
}

.landing__footer--para {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 80px;
  color: #a0aec0;
  font-weight: 400;
  line-height: 1.5;
}

.landing__customers--img {
  width: 100%;
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
}

/* FEATURES/Services */
#features {
  padding: 96px 0;
  margin: 0 auto;
}

.features__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__header--wrapper {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features__header--subtitle {
  font-weight: 900;
  margin: 16px 0;
}

.features__header--para {
  font-size: 18px;
  line-height: 1.65;
  color: #7c8ba1;
  max-width: 576px;
}

.services__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.service {
  width: calc(100%/3);
  padding: 32px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.service__img--wrapper {
  height: 100%;
}

.service__img {
  width: 100%;
  border: 1px solid #7c8ba1;
  padding: 16px;
  border-radius: 500px;
  color: var(--theme-color);
}

.service__description {
  margin: 8px 0 0 16px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.service__description--title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.service__description--para {
  font-size: 16px;
  line-height: 1.5;
  color: #7c8ba1;
  margin-top: 16px;
}

/* Quality */

.quality__header--wrapper {
  width: 50%;
  margin: 0 64px 0 0;

}

.quality__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.quality__img {
  width: calc(100% - 24px);

}

.quality__header--sub-title {
  font-weight: 900;
  margin: 16px 0;
}

.quality__header--para {
  font-size: 18px;
  line-height: 1.65;
  color: #7c8ba1;
  max-width: 576px;
}

.quality__btn {
  margin-top: 32px;
}

/* Steps */

.steps__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.steps__img--wraper {
  width: 50%;
}

.steps__img {
  width: 100%;
  max-width: 768px;
}

.steps__header--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 64px;

}

.steps__container {
  padding: 96px 0;
}

.steps__header--sub-title {
  font-weight: 900;
  margin: 16px 0;
}

/* Ready to clean up the steps! 4/18 */

.step__wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}
  
  .step__description {
    width: 100%;
    max-width: 320px;
    align-items: start;
    margin-left: 24px;
  }

  .step__number {
    color: #cbd5e0;
    font-size: 32px;
    font-weight: 600;
  }

  .step__title {
    font-size: 24px;
    font-weight: 600;

  }

  .step__para {
    font-size: 14px;
    line-height: 2;
    margin-top: 12px;
    font-weight: 500;
  }

  
